<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/home.css">
    <title>Home</title>
</head>

<body>

    <div class="navbar">
        <div class="container navbar_wraper">
            <div class="brand">
                <h2>AshApp</h2>
            </div>
            <div class="navMenu">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <div class="hamburger">
                <i class="fal fa-bars hamburger_img"></i>
            </div>
        </div>
    </div>

    <div class="hamburger_navMenu">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>




    <form action="/" method="post" class="inputClass">
        <input type="text" class="search" placeholder="Search product..." name="userQuery">
        <button class="searchBtn"><i class="far fa-search"></i></button>
    </form>



    <footer>
        <div class="footer_block">
            <a href="#">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </footer>

    <script src="./js/home.js"></script>
</body>

</html>