* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(49, 143, 236);
}

.navbar {
    height: 50px;
    width: 100vw;
    background-color: rgb(49, 143, 236);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar_wraper {
    display: flex;
    justify-content: space-between;
}

.brand h2 {
    font-weight: 100;
    margin: 8px 0 10px 0;
}

.navMenu ul li {
    display: inline-block;
    margin: 15px 10px 10px 0;
}

.navMenu ul li a {
    text-decoration: none;
    color: black;
}

.hamburger {
    display: none;
}

.hamburger_navMenu {
    display: none;
}

.hamburger_navMenu {
    display: none;
    background-color: rgb(49, 143, 236);
    padding: 1rem;
}

.hamburger_navMenu li {
    list-style: none;
    margin: 1rem;
}

.hamburger_navMenu li a {
    text-decoration: none;
    color: black;
}

.show {
    display: block;
}

.footer_block {
    max-width: 100%;
    height: 40px;
    margin: 45px auto 0 auto;
    background-color: rgb(49, 143, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer_block i {
    color: black;
    font-size: 20px;
    padding: 0 5px;
}

.inputClass {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    box-sizing: border-box;
    background-color: white;
    width: 600px;
    margin: 200px auto;
    border-radius: 0.5rem;
}

.search {
    border: none;
    background-color: white;
    padding: 1rem;
    width: 500px;
    outline: none;
    height: 20px;
}

.searchBtn {
    border: none;
    height: 20px;
    padding: 1rem;
    background-color: white;
}

.searchBtn i {
    font-size: 1rem;
    color: black;
    background-color: white;
}

/* media queries------- */

@media(max-width:700px) {
    .navMenu {
        display: none;
    }
    .hamburger {
        display: block;
        margin: 10px;
    }
    .hamburger i {
        font-size: 1.5rem;
    }
    .inputClass {
        display: flex;
        justify-content: center;
        margin-top: 200px auto 0 auto;
        box-sizing: border-box;
        width: 320px;
    }
    .search {
        border: none;
        background-color: white;
        padding: 0.8rem;
        width: 100%;
        outline: none;
        border-radius: 0.5rem;
    }
    .searchBtn {
        border: none;
        padding: 0.8rem;
    }
    .searchBtn i {
        font-size: 1rem;
    }
    .footer_block {
        margin-top: 200px;
        /* position: relative;
        left: 0;
        right: 0;
        bottom: 0; */
    }
}